[submodule "third_party/SAMPart3D"]
	path = third_party/SAMPart3D
	url = git@github.com:xxxylw/SAMPart3D.git
[submodule "third_party/HoloPart"]
	path = third_party/HoloPart
	url = git@github.com:xxxylw/HoloPart.git
